.suggestion-container{
    width: 30%;
    min-height: 40vh;
    height: fit-content;
    max-height: 80vh;
    overflow: scroll;
    background-color: var( --color-background-gray);
    position: sticky;
    top: 20px;
    position: -webkit-sticky;
}